.paginationContainer {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.paginationWrapper {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    padding: 10px;
}

.pageButton {
    padding: 10px 16px;
    margin: 0 5px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.activePage {
    background-color: #38a169;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.inactivePage {
    background-color: #e2e8f0;
    color: #4a5568;
}

.inactivePage:hover {
    background-color: #68d391;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

:root[data-theme='dark'] .paginationWrapper {
    background-color: var(--grayscale-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

:root[data-theme='dark'] .activePage {
    background-color: #38a169;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

:root[data-theme='dark'] .inactivePage {
    background-color: var(--grayscale-light);
    color: #cccccc;
}

:root[data-theme='dark'] .inactivePage:hover {
    background-color: #555555;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}
