.errorButton {
    border-radius: 30px;
    padding: 8px 16px;
    font-size: 15px;
    height: 40px;
    font-weight: 600;
    cursor: pointer;
    color: var(--identity-primary);
    background: var(--grayscale-white);
    border: none;
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25),
    0 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: inline-flex;
    align-items: center;
    justify-content: right;
}

.errorButton:hover {
    background: var(--identity-primary);
    color: var(--grayscale-white);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.2),
    0 6px 12px rgba(0, 0, 0, 0.2);
}

.errorButton:active {
    transform: scale(0.95);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
