.card {
  position: relative;
  border-radius: 16px;
  width: 204px;
  height: 230px;
  padding: 4px 8px 0 8px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  background: var(--grayscale-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: var(--grayscale-background);
  border-radius: 16px 16px 0 0;
  z-index: 1;
}

.number {
  font-family: var(--font-family);
  font-weight: 400;
  margin: 5px 0;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  color: var(--grayscale-medium);
  z-index: 2;
}

.cardImg {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  z-index: 2;
}

.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 160%;
  text-align: center;
  color: var(--grayscale-dark);
  z-index: 2;
  margin: 2px 0;
}
