.searchForm {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.searchInput {
  width: 800px;
  height: 40px;
  border-radius: 50px;
  padding: 8px 16px 8px 60px;
  font-size: 16px;
  background: var(--grayscale-white);
  border: 2px solid transparent;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25),
  0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url('../../../assets/search.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px center;
  transition: all 0.3s ease-in-out;
}

/* Ефект при фокусі */
.searchInput:focus {
  border: 2px solid var(--identity-primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.searchInput::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 14px;
}

.searchInput:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}


.searchButton {
   border-radius: 30px;
   padding: 8px 16px;
   width: 100px;
   font-size: 15px;
   font-weight: 600;
   cursor: pointer;
   color: var(--identity-primary);
   background: var(--grayscale-white);
   border: none;
   box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25),
   0 4px 8px rgba(0, 0, 0, 0.15);
   transition: all 0.2s ease-in-out;
   text-transform: uppercase;
   letter-spacing: 0.5px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
 }

.searchButton:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}
