/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/shared/components/header/Header.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_header__Sr62a {
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 10px 20px;
  color: white;
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  height: auto;
}

.Header_img__QpaX3 {
  height: 50px;
  margin-right: 10px;
}

.Header_link__zpSQK {
  text-decoration: none;
}

@media (max-width: 700px) {
  .Header_header__Sr62a {
    max-width: 328px;
    height: 45px;
    padding-bottom: 0;
    gap: 2px;
  }

  .Header_h1__wBHKB {
    font-size: 30px;
  }

  .Header_img__QpaX3 {
    width: 30px;
    height: 30px;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/topControls/components/SearchForm.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.SearchForm_searchForm__z_qok {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.SearchForm_inputContainer__CVcNe {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 800px;
}

.SearchForm_searchInput__eHks_ {
  flex: 1 1;
  height: 40px;
  border-radius: 50px;
  padding: 8px 16px 8px 60px;
  font-size: 16px;
  background: var(--grayscale-white);
  border: 2px solid transparent;
  box-shadow:
    inset 0 1px 3px 1px rgba(0, 0, 0, 0.25),
    0 2px 5px rgba(0, 0, 0, 0.1);
  background-image: url(/_next/static/media/search.30813e4d.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px center;
  transition: all 0.3s ease-in-out;
  max-width: 100%; /* Забезпечує резинову ширину */
}

.SearchForm_clearButton__owWeK {
  position: absolute;
  right: 15px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.SearchForm_clearButton__owWeK img {
  width: 30px;
  height: 30px;
}

.SearchForm_searchInput__eHks_:focus {
  border: 2px solid var(--identity-primary);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  outline: none;
}

.SearchForm_searchInput__eHks_::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 14px;
}

.SearchForm_searchInput__eHks_:focus::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.SearchForm_searchButton__3lH__ {
  border-radius: 30px;
  padding: 8px 16px;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  color: var(--identity-primary);
  background: var(--grayscale-white);
  border: none;
  box-shadow:
    inset 0 1px 3px 1px rgba(0, 0, 0, 0.25),
    0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* Hover-ефект для кнопки в світлому режимі */
.SearchForm_searchButton__3lH__:hover {
  background-color: var(--identity-primary);
  color: var(--grayscale-white);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}

.SearchForm_searchButton__3lH__:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

:root[data-theme='dark'] .SearchForm_searchInput__eHks_ {
  color: #ffffff;
}

:root[data-theme='dark'] .SearchForm_searchInput__eHks_::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

:root[data-theme='dark'] .SearchForm_searchButton__3lH__ {
  color: #ffffff;
}

:root[data-theme='dark'] .SearchForm_searchButton__3lH__:hover {
  background-color: var(--identity-primary);
  color: #ffffff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/* Responsive styles */
@media (max-width: 768px) {
  .SearchForm_inputContainer__CVcNe {
    max-width: 100%;
  }

  .SearchForm_searchInput__eHks_ {
    height: 32px;
    font-size: 14px;
    padding: 8px 14px 8px 45px;
  }

  .SearchForm_searchButton__3lH__ {
    padding: 8px 12px;
    font-size: 14px;
  }

  .SearchForm_clearButton__owWeK {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .SearchForm_searchInput__eHks_ {
    height: 28px;
    font-size: 12px;
    padding: 6px 12px 6px 40px;
    background-position: 12px center;
  }

  .SearchForm_searchButton__3lH__ {
    padding: 6px 10px;
    font-size: 12px;
  }

  .SearchForm_clearButton__owWeK {
    right: 8px;
    width: 24px;
    height: 24px;
  }

  .SearchForm_clearButton__owWeK img {
    width: 24px;
    height: 24px;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/shared/components/SortDropdown/SortDropdown.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.SortDropdown_sortDropdown__Xh7BF {
  position: relative;
}

.SortDropdown_sortButton__Wavnq {
  background: white;
  border-radius: 50%;
  padding: 17px;
  border: none;
  cursor: pointer;
  width: 55px;
  height: 55px;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
}

.SortDropdown_sortButton__Wavnq:hover {
  background: #f0f0f0;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.35);
}

.SortDropdown_sortImg__eUApj {
  width: 22px;
  height: 22px;
}

.SortDropdown_dropdownMenu__stPPu {
  border-radius: 12px;
  padding: 0 4px 4px 4px;
  position: absolute;
  top: 50px;
  right: 0;
  background: var(--background-color);
  box-shadow: 0 3px 12px 3px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 10;
  animation: SortDropdown_fadeInSlideDown__d6skI 0.3s ease-out;
}

.SortDropdown_title__r6j8j {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 133%;
  color: var(--grayscale-white);
}

.SortDropdown_options__Wgwui {
  border-radius: 8px;
  padding: 25px 20px 16px 20px;
  width: 105px;
  height: 80px;
  box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  background: var(--grayscale-white);
}

.SortDropdown_option__FD5nk {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.SortDropdown_option__FD5nk input {
  accent-color: #d32f2f;
  cursor: pointer;
  width: 15px;
  height: 15px;
}

@keyframes SortDropdown_fadeInSlideDown__d6skI {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

:root[data-theme='dark'] .SortDropdown_sortButton__Wavnq {
  background: #444444;
  box-shadow: inset 0 1px 3px 1px rgba(255, 255, 255, 0.1);
}

:root[data-theme='dark'] .SortDropdown_dropdownMenu__stPPu {
  background: #2e2e2e;
  box-shadow: 0 3px 12px 3px rgba(255, 255, 255, 0.2);
}

:root[data-theme='dark'] .SortDropdown_title__r6j8j {
  color: #f0f0f0;
}

:root[data-theme='dark'] .SortDropdown_options__Wgwui {
  background: #444444;
  box-shadow: inset 0 1px 3px 1px rgba(255, 255, 255, 0.1);
}

:root[data-theme='dark'] .SortDropdown_option__FD5nk {
  color: #f0f0f0;
}

:root[data-theme='dark'] .SortDropdown_option__FD5nk input {
  accent-color: #d32f2f;
}

@media (max-width: 768px) {
  .SortDropdown_sortButton__Wavnq {
    width: 45px;
    height: 45px;
    padding: 12px;
  }

  .SortDropdown_sortImg__eUApj {
    width: 18px;
    height: 18px;
  }

  .SortDropdown_dropdownMenu__stPPu {
    top: 40px;
    left: 10px;
    min-width: 120px;
  }

  .SortDropdown_title__r6j8j {
    font-size: 14px;
  }

  .SortDropdown_options__Wgwui {
    padding: 20px 16px 12px 16px;
    width: 90px;
    height: 70px;
  }

  .SortDropdown_option__FD5nk {
    font-size: 14px;
  }

  .SortDropdown_option__FD5nk input {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 480px) {
  .SortDropdown_sortButton__Wavnq {
    width: 40px;
    height: 40px;
    padding: 13px;
  }

  .SortDropdown_sortImg__eUApj {
    width: 14px;
    height: 14px;
  }

  .SortDropdown_dropdownMenu__stPPu {
    top: 30px;
    min-width: 100px;
  }

  .SortDropdown_title__r6j8j {
    font-size: 12px;
  }

  .SortDropdown_options__Wgwui {
    padding: 16px 12px 8px 12px;
    width: 75px;
    height: 60px;
  }

  .SortDropdown_option__FD5nk {
    font-size: 12px;
  }

  .SortDropdown_option__FD5nk input {
    width: 10px;
    height: 10px;
  }
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/resultsSection/components/ResultsList.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.ResultsList_resultsContainer__HIb2a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: clamp(8px, 3vw, 20px);
  margin-top: 0;
  margin-bottom: 20px;
  padding: 24px clamp(12px, 3vw, 20px);
  border-radius: 16px;
}

@media (max-width: 600px) {
  .ResultsList_resultsContainer__HIb2a {
    gap: 8px;
  }
}

@media (min-width: 900px) {
  .ResultsList_resultsContainer__HIb2a {
    margin-top: 40px;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/shared/components/card/Card.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__Uj4Ao {
  position: relative;
  border-radius: 16px;
  cursor: pointer;
  width: clamp(104px, 20vw, 204px);
  height: clamp(114px, 22vw, 230px);
  padding: 4px 8px 0 8px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
  background: var(--grayscale-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition:
    background-color 0.3s,
    transform 0.3s,
    box-shadow 0.3s;
}

.Card_card__Uj4Ao:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.Card_card__Uj4Ao.Card_selected__nCr2O {
  background-color: var(--grayscale-light);
}

.Card_card__Uj4Ao::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: var(--grayscale-background);
  border-radius: 16px 16px 0 0;
  z-index: 1;
}

.Card_number__o_JCz {
  font-family: var(--font-family);
  font-weight: 400;
  margin: 5px 0;
  font-size: clamp(8px, 1.5vw, 16px);
  line-height: 150%;
  text-align: right;
  color: var(--grayscale-medium);
  z-index: 2;
}

.Card_cardImg__1Ekv1 {
  width: clamp(72px, 15vw, 150px);
  height: clamp(72px, 15vw, 150px);
  margin: 0 auto;
  z-index: 2;
}

.Card_name__goB6d {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(10px, 2vw, 25px);
  line-height: 160%;
  text-align: center;
  color: var(--grayscale-dark);
  z-index: 2;
  margin: 2px 0;
}

.Card_checkbox__hQx3z {
  position: absolute;
  top: 8px;
  left: 8px;
  width: clamp(16px, 2vw, 20px);
  height: clamp(16px, 2vw, 20px);
  cursor: pointer;
  z-index: 3;
  background-color: var(--grayscale-white);
  border: 1px solid var(--grayscale-wireframe);
  border-radius: 4px;
}

@media (max-width: 600px) {
  .Card_checkbox__hQx3z {
    top: 6px;
    left: 6px;
    width: clamp(12px, 1.5vw, 16px);
    height: clamp(12px, 1.5vw, 16px);
  }

  .Card_number__o_JCz {
    margin-bottom: 0;
  }
}

:root[data-theme='dark'] .Card_card__Uj4Ao {
  box-shadow: 0 1px 3px 1px rgba(255, 255, 255, 0.1);
}

:root[data-theme='dark'] .Card_card__Uj4Ao:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

:root[data-theme='dark'] .Card_number__o_JCz {
  color: #cccccc;
}

:root[data-theme='dark'] .Card_name__goB6d {
  color: #f0f0f0;
}

:root[data-theme='dark'] .Card_checkbox__hQx3z {
  background-color: #444444;
  border: 1px solid #666666;
}

@media (max-width: 425px) {
  .Card_card__Uj4Ao {
    width: clamp(100px, 21vw, 160px);
    height: clamp(110px, 23vw, 190px);
  }

  .Card_cardImg__1Ekv1 {
    width: clamp(70px, 12vw, 130px);
    height: clamp(69px, 12vw, 130px);
  }

  .Card_number__o_JCz {
    font-size: clamp(9px, 1.3vw, 16px);
  }

  .Card_name__goB6d {
    font-size: clamp(14px, 1.5vw, 18px);
  }
  .Card_checkbox__hQx3z {
    width: clamp(10px, 1.6vw, 18px);
    height: clamp(10px, 1.6vw, 18px);
  }
}

@media (max-width: 405px) {
  .Card_card__Uj4Ao {
    width: clamp(85px, 19vw, 145px);
    height: clamp(95px, 21vw, 175px);
  }

  .Card_cardImg__1Ekv1 {
    width: clamp(55px, 10vw, 115px);
    height: clamp(55px, 10vw, 115px);
  }

  .Card_number__o_JCz {
    font-size: clamp(7px, 1vw, 14px);
  }

  .Card_name__goB6d {
    font-size: clamp(12px, 1.5vw, 18px);
  }
  .Card_checkbox__hQx3z {
    width: clamp(10px, 1.2vw, 16px);
    height: clamp(10px, 1.2vw, 16px);
  }
}

/*!************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/core/components/Loader/Loader.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************/
.Loader_loaderContainer__hlBKs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.Loader_spinner__qDak4 {
  width: 50px;
  height: 50px;
  animation: Loader_spin___Uemp 1s linear infinite;
  filter: brightness(0.5);
}

.Loader_loadingText__oqgXl {
  font-size: 1.2em;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: Loader_fadeInOut__H0_P_ 1.5s ease-in-out infinite;
}

@keyframes Loader_spin___Uemp {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Loader_fadeInOut__H0_P_ {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .Loader_spinner__qDak4 {
    width: 40px;
    height: 40px;
  }

  .Loader_loadingText__oqgXl {
    font-size: 1em;
  }

  .Loader_loaderContainer__hlBKs {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .Loader_spinner__qDak4 {
    width: 30px;
    height: 30px;
  }

  .Loader_loadingText__oqgXl {
    font-size: 0.9em;
  }

  .Loader_loaderContainer__hlBKs {
    padding: 10px;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/resultsSection/components/Pagination.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.Pagination_paginationContainer__JnJuP {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

.Pagination_paginationWrapper__rx0fy {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.Pagination_pageButton__AIQLB {
  padding: 10px 16px;
  margin: 0 5px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.Pagination_activePage__qrZsM {
  background-color: #38a169;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Pagination_inactivePage__Unn4n {
  background-color: #e2e8f0;
  color: #4a5568;
}

.Pagination_inactivePage__Unn4n:hover {
  background-color: #68d391;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

:root[data-theme='dark'] .Pagination_paginationWrapper__rx0fy {
  background-color: var(--grayscale-background);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

:root[data-theme='dark'] .Pagination_activePage__qrZsM {
  background-color: #38a169;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

:root[data-theme='dark'] .Pagination_inactivePage__Unn4n {
  background-color: var(--grayscale-light);
  color: #cccccc;
}

:root[data-theme='dark'] .Pagination_inactivePage__Unn4n:hover {
  background-color: #555555;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
  .Pagination_paginationWrapper__rx0fy {
    padding: 8px;
  }

  .Pagination_pageButton__AIQLB {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .Pagination_paginationWrapper__rx0fy {
    padding: 6px;
  }

  .Pagination_pageButton__AIQLB {
    padding: 6px 10px;
    font-size: 12px;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/core/components/ErrorButton/ErrorButton.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.ErrorButton_errorButton__JAra0 {
  border-radius: 30px;
  padding: 8px 16px;
  font-size: 15px;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  color: var(--identity-primary);
  background: var(--grayscale-white);
  border: none;
  box-shadow:
    inset 0 1px 3px 1px rgba(0, 0, 0, 0.25),
    0 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.ErrorButton_errorButton__JAra0:hover {
  background: var(--identity-primary);
  color: var(--grayscale-white);
  box-shadow:
    inset 0 1px 3px 1px rgba(0, 0, 0, 0.2),
    0 6px 12px rgba(0, 0, 0, 0.2);
}

.ErrorButton_errorButton__JAra0:active {
  transform: scale(0.95);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

:root[data-theme='dark'] .ErrorButton_errorButton__JAra0 {
  background: var(--grayscale-light);
  color: #ffffff;
  box-shadow:
    inset 0 1px 3px 1px rgba(255, 255, 255, 0.15),
    0 4px 8px rgba(0, 0, 0, 0.3);
}

:root[data-theme='dark'] .ErrorButton_errorButton__JAra0:hover {
  background: var(--identity-primary);
  color: #ffffff;
  box-shadow:
    inset 0 1px 3px 1px rgba(255, 255, 255, 0.2),
    0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .ErrorButton_errorButton__JAra0 {
    padding: 6px 12px;
    font-size: 14px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .ErrorButton_errorButton__JAra0 {
    padding: 5px 10px;
    font-size: 13px;
    height: 30px;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/shared/components/flyout/Flyout.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************/
.Flyout_flyout__S_lJj {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--grayscale-white);
  border: 1px solid var(--grayscale-wireframe);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
  width: 300px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.Flyout_flyout__S_lJj.Flyout_show__ldO1U {
  opacity: 1;
  transform: translateY(0);
}

.Flyout_flyout__S_lJj.Flyout_hide__fXwLt {
  opacity: 0;
  transform: translateY(20px);
}

.Flyout_flyout__S_lJj p {
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--grayscale-dark);
  margin-bottom: 16px;
}

.Flyout_flyout__S_lJj button {
  font-family: var(--font-family);
  font-size: 14px;
  color: var(--grayscale-white);
  background-color: var(--identity-primary);
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.3s;
}

.Flyout_flyout__S_lJj button:hover {
  background-color: var(--identity-secondary);
}

:root[data-theme='dark'] .Flyout_flyout__S_lJj {
  background-color: #2e2e2e;
  border: 1px solid #555555;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

:root[data-theme='dark'] .Flyout_flyout__S_lJj p {
  color: #f0f0f0;
}

:root[data-theme='dark'] .Flyout_flyout__S_lJj button {
  background-color: var(--identity-primary);
  color: #ffffff;
  box-shadow:
    inset 0 1px 3px rgba(255, 255, 255, 0.2),
    0 4px 8px rgba(0, 0, 0, 0.3);
}

:root[data-theme='dark'] .Flyout_flyout__S_lJj button:hover {
  background-color: var(--identity-secondary);
}

@media (max-width: 768px) {
  .Flyout_flyout__S_lJj {
    width: 250px;
    padding: 12px;
  }

  .Flyout_flyout__S_lJj p {
    font-size: 14px;
    margin-bottom: 12px;
  }

  .Flyout_flyout__S_lJj button {
    font-size: 12px;
    padding: 6px 10px;
  }
}

@media (max-width: 480px) {
  .Flyout_flyout__S_lJj {
    width: 200px;
    padding: 10px;
  }

  .Flyout_flyout__S_lJj p {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .Flyout_flyout__S_lJj button {
    font-size: 10px;
    padding: 4px 8px;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/modules/core/components/ThemeSwitcher/ThemeSwitcher.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.ThemeSwitcher_themeSwitcherContainer___u3C1 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 16px 0;
}

.ThemeSwitcher_themeSwitcher__gjSnw {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background-color: var(--identity-primary);
  color: var(--grayscale-white);
  border: 2px solid var(--grayscale-white);
  border-radius: 8px;
  padding: 8px 12px;

  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);

  font-family: var(--font-family);
}

.ThemeSwitcher_themeLabel__RhMcH {
  font-weight: 500;
  font-size: 14px;
  margin: 0;
}

.ThemeSwitcher_themeSelect__ERtzr {
  background-color: var(--grayscale-white);
  color: var(--grayscale-dark);
  border: 1px solid var(--grayscale-wireframe);
  border-radius: 4px;
  padding: 4px 8px;
  font-family: var(--font-family);
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.ThemeSwitcher_themeSelect__ERtzr:hover {
  background-color: var(--grayscale-light);
}

:root[data-theme='dark'] .ThemeSwitcher_themeSwitcher__gjSnw {
  background-color: var(--grayscale-white);
  color: #ffffff;
  border: 2px solid #ffffff;
  box-shadow: 0 1px 3px 1px rgba(255, 255, 255, 0.1);
}

:root[data-theme='dark'] .ThemeSwitcher_themeLabel__RhMcH {
  color: #ffffff;
}

:root[data-theme='dark'] .ThemeSwitcher_themeSelect__ERtzr {
  background-color: #2e2e2e;
  color: #f0f0f0;
  border: 1px solid #444444;
}

:root[data-theme='dark'] .ThemeSwitcher_themeSelect__ERtzr:hover {
  background-color: #555555;
}

@media (max-width: 768px) {
  .ThemeSwitcher_themeSwitcher__gjSnw {
    padding: 6px 10px;
  }

  .ThemeSwitcher_themeLabel__RhMcH {
    font-size: 12px;
  }

  .ThemeSwitcher_themeSelect__ERtzr {
    padding: 4px 6px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .ThemeSwitcher_themeSwitcher__gjSnw {
    padding: 4px 8px;
  }

  .ThemeSwitcher_themeLabel__RhMcH {
    font-size: 10px;
  }

  .ThemeSwitcher_themeSelect__ERtzr {
    padding: 4px 6px;
    font-size: 10px;
  }
}

