:root {
  --identity-primary: #dc0a2d;
  --identity-secondary: #28aafd;

  --grayscale-dark: #1d1d1d;
  --grayscale-medium: #666666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #ffffff;
  --grayscale-wireframe: #b8b8b8;

  --font-family: 'Roboto', sans-serif;
  --second-family: 'Poppins', sans-serif;

  --background-color: var(--identity-primary);
  --text-color: var(--grayscale-white);
}

:root[data-theme='dark'] {
  --background-color: #1d1d1d;
  --text-color: #f0f0f0;

  --grayscale-dark: #f5f5f5;
  --grayscale-medium: #cccccc;
  --grayscale-light: #555555;
  --grayscale-background: #333333;
  --grayscale-white: #2e2e2e;
  --grayscale-wireframe: #666666;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 8px;
  font-family: var(--font-family);
}

h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: var(--text-color);
}
