:root {
  --identity-primary: #dc0a2d;
  --identity-secondary: #28aafd;
  --grayscale-dark: #1d1d1d;
  --grayscale-medium: #666;
  --grayscale-light: #e0e0e0;
  --grayscale-background: #efefef;
  --grayscale-white: #fff;
  --grayscale-wireframe: #b8b8b8;
  --pokémon-type-bug: #a7b723;
  --pokémon-type-dark: #75574c;
  --pokémon-type-dragon: #7037ff;
  --pokémon-type-electric: #f9cf30;
  --pokémon-type-fairy: #e69eac;
  --pokémon-type-fighting: #c12239;
  --pokémon-type-fire: #f57d31;
  --pokémon-type-flying: #a891ec;
  --pokémon-type-ghost: #70559b;
  --pokémon-type-grass: #74cb48;
  --pokémon-type-ground: #dec16b;
  --pokémon-type-ice: #9ad6df;
  --pokémon-type-normal: #aaa67f;
  --pokémon-type-poison: #a43e9e;
  --pokémon-type-psychic: #fb5584;
  --pokémon-type-rock: #b69e31;
  --pokémon-type-steel: #b7b9d0;
  --pokémon-type-water: #6493eb;
  -font-family: 'Roboto', sans-serif;
  --second-family: 'Poppins', sans-serif;
}

body {
  background: var(--identity-primary);
  padding: 0;
}

h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 133%;
  color: var(--grayscale-white);
}
